@import "variables";

@import "hero-banners";
@import "category";
@import "flash-sale";
@import "what-hot";

body{
  margin: unset;
  background: #ECEFF1;

  .feed{
    //max-width: 768px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  a{
    text-decoration: none;
  }
}