//variables
$percent-sold: 70;

$distance-common: 4;

//colors
$Black200:                                          #EEEEEE !default;
$placeholder-color:                                 #6B778C !default;
$white:                                             #FFF !default;
$bg-pink1:                                          #F06292 !default;
$gray1:                                             #BDBDBD !default;

//font-family
$font-family-common:                                'Roboto';

// Font Weight
$font-weight-lighter:         						lighter !default;
$font-weight-light:           						300 !default;
$font-weight-normal:          						400 !default;
$font-weight-bold:            						500 !default;
$font-weight-bolder:          						600 !default;
$font-weight-boldest:          						700 !default;